.busy {
  border: 2px solid #f2994a;
  & select {
    z-index: 10;
    background: url(../../image/Vector1.svg) 40% 80%/60% 30% no-repeat;
  }
}

.unavailable {
  background: #e8e8e8;
  opacity: 0.5;
  border: 2px solid #eb5757;
  & select {
    z-index: 10;
    background: url(../../image/Vector1.svg) 140% 80%/60% 30% no-repeat;
  }
}

.busy,
.unavailable,
.available {
  width: 100%;
  display: flex;
  border-radius: 10px;
  & select {
    width: 100px;
  }
}
.available {
  border: 2px solid rgba(111, 207, 151, 1);
  & select {
    z-index: 10;
    background: url(../../image/Vector1.svg) 100% 80%/60% 30% no-repeat;
  }
}
.form_description {
  display: none;
  border: 1px solid #696969;
  border-radius: 10px;
  & :nth-child(1) {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }
}
.vision {
  display: block;
}
